@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

@import "tailwindcss";

@theme {
    --color-bg: #1a1a1a;
    --color-surface: #1e1e1e;
    --color-accent: #bb86fc;
    --color-txt-primary: #e0e0e0;
    --color-txt-secondary: #b0b0b0;
    --shadow-3xl: 0 0 50px var(--tw-shadow-color);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    @apply px-[clamp(0.75rem,5vw,4rem)] py-6 bg-bg text-txt-primary overflow-x-hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 20px;
    height: 16px;
}

.blurred-circle {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: -1;

    filter: blur(40px);
}

.blurred-bg {
    position: relative;
    background: rgb(187, 134, 252);
    background: radial-gradient(
        circle,
        rgba(187, 134, 252, 0.2) 0%,
        rgba(51, 169, 220, 0.2) 57%
    );
}

.blurred-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px);
    z-index: 0;
}

@media (max-width: 1024px) {
    .blurred-circle {
        left: 0;
        top: 50%;
    }
}
